#footer {
    background-color:#1c1c1c;
    padding:5rem 0;
    ul {
        li {
            color:#dadada;
            text-align:center;
            line-height:1.8rem;
            font-size:1.2rem;
        }
    }
}

#container {
    // display:flex; justify-content:center;
    overflow-x:hidden;
    .top_banner {
        background-color:#0062ff;
        color:#fff;
        text-align:center;
        padding:7rem 0;
        h2 {font-size:4rem; font-weight:bold;}
    }
    .inner {
        max-width:91.5rem;
        width:100%;
        // 메인페이지
        &.main {
            color:#fff;
            margin:0 auto 11rem;
            .logo_wrap {
                display:flex;
                margin:2.5rem -4.5rem 12rem -4.5rem;
                margin-bottom:12rem;
                h1 {
                    &:last-child {margin-left:2.5rem;}
                    a {
                        img {width:100%;}
                    }
                }
            }
            .title {
                margin:0 -4.5rem;
                display:inline-block;
                width:50rem; height:32.8rem;
                img {width:100%;}
                // width:51.7rem; height:33.9rem;
                &::after {
                    content:'';
                    display:block;
                    width:104.7rem; height:61.2rem;
                    background-image:url('../img/common/bg_pc.png');
                    background-repeat:no-repeat;
                    background-size:cover;
                    position:relative;
                    top:-51rem; right:-51rem;
                }
            }
            p {
                margin:10rem 0;
                border-top:0.4rem solid #3d3d3d;
                border-bottom:0.4rem solid #3d3d3d;
                font-size:2.5rem; line-height:5rem;
                padding:3rem 0;
                text-align:center;
                br {&.mobile {display:none;}}
                span {
                    color:#2c85e6;
                }
            }
            .btn_wrap {
                display:flex; justify-content:center;
                margin-bottom:11rem;
                a {
                    margin:0 1.5rem;
                    display:block;
                    width:44rem; height:6.5rem;
                    background-color:#0062ff;
                    color:#fff;
                    font-size:2.5rem; line-height:6.5rem;
                    text-align:center;
                }
            }
            ul {
                margin-bottom:6rem;
                li {
                    display:inline-block;
                    font-size:2rem;
                    margin-bottom:4rem;
                    &:nth-child(1), &:nth-child(3) {
                        width:55rem;
                    }
                    &::before {
                        content:'';
                        display:inline-block;
                        width:0.8rem; height:3.5rem;
                        background-color:#2c85e6;
                        margin-right:2.5rem;
                        transform:translateY(1rem);
                    }
                    span {
                        font-size:2.2rem;
                        display: inline-block;
                        width:6.1rem;
                        color:#2c85e6;
                        margin-right:2.5rem;
                    }
                }
            }
            table {
                width:100%;
                thead {
                    padding:0 13rem 0 5rem;
                    tr {
                        background-color:#236ab8;
                        th {
                            font-size:2.5rem; font-weight:bold;
                            padding:2rem 0;
                            &:first-child {
                                width:30%;
                            }
                            &:nth-child(2) {
                                width:32%;
                                text-align:start;
                            }
                            &:last-child {
                                width:38%;
                                text-align:start;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            font-size:2.2rem;
                            padding:2.5rem 0;
                            span {
                                display: inline-block;
                                margin-left:5.5rem;
                                font-size:1.5rem;
                                &.detail {display:none;}
                            }
                            &:first-child {
                                width:30%;
                                text-align:center;
                            }
                            &:nth-child(2) {
                                width:32%;
                                font-size:1.8rem;
                                border-bottom:0.1rem solid #2c85e6;
                            }
                            &:last-child {
                                font-size:1.8rem;
                                width:38%;
                                border-bottom:0.1rem solid #2c85e6;;
                            }
                        }
                    }
                }
                tr {
                    th {}
                    td {}
                    background-color:#0d2845;
                    &.dark {
                        background-color:#091b2e;
                    }
                }
            }
        }

        // 사전 신청 페이지
        &.application {
            max-width:100rem;
            width:100%;
            color:#000;
            margin:6.5rem auto 11.5rem;
            border-radius:3rem;
            position:relative;
            button {
                &.exit_btn {
                    width:7rem; height:7rem;
                    border-top:0.1rem solid #656565;
                    border-left:0.1rem solid #656565;
                    background-color:transparent;
                    transform:rotate(-45deg);
                    position:absolute; top:2.5rem; left:-11rem;
                    &:active {
                        transform:rotate(-45deg) scale(0.95);
                    }
                }
                &.submit_btn {
                    width:44rem; height:6.5rem;
                    background-color:#0062ff;
                    color:#fff;
                    font-size:2.5rem;
                    font-weight:bold;
                    display:block;
                    margin:0 auto;
                }
            }
            >div {
                overflow: hidden;
                background-color:#fff;
                padding:7.5rem 17.5rem;
                border-radius:3rem;
                box-sizing:border-box;
                margin-bottom:8.5rem;
                h3 {
                    font-size:2.5rem;
                    color:#0062ff;
                    margin-bottom:1rem;
                }
                p {
                    white-space:pre-line;
                    font-size:1.5rem;
                    color:#0062ff;
                    margin-bottom:4rem;
                    &.policy {
                        color:#000;
                        border-top:0.1rem solid #d9d9d9;
                        border-bottom:0.1rem solid #d9d9d9;
                        line-height:2rem;
                        padding:5rem 0;
                        margin-top:7rem;
                    }
                }
                ul {
                    position: relative;
                    padding-top:3.5rem;
                    margin-bottom:7rem;
                    &::before {
                        content:'';
                        display:block;
                        width:100vw; height:0.2rem;
                        background-color:#0062ff;
                        position:absolute;
                        top:0; left:50%; transform:translateX(-50%);
                    }
                    &::after {
                        content:'';
                        display:block;
                        width:100vw; height:0.2rem;
                        background-color:#0062ff;
                        position:absolute; bottom:-14rem;
                        left:50%; transform:translateX(-50%);
                    }
                    li {
                        display:flex; align-items:center;
                        font-size:2rem;
                        margin-bottom:2.5rem;
                        h4 {
                            font-weight:normal;
                            width:13rem;
                            span {
                                color:#ff0000;
                            }
                        }
                        input {
                            border:0.1rem solid #e9e9e9;
                            width:100%; height:5.4rem;
                            padding:0 1.5rem;
                            display:block;
                            margin:0 0 0 auto;
                            border-radius:1rem;
                            box-sizing:border-box;
                        }
                        >div {
                            width:100%;position: relative;
                            span {
                                position:absolute; top:50%; transform:translateY(-50%);
                                right:2rem;
                                font-size:1.5rem;
                            }
                        }
                    }
                }
                label {
                    display:flex; align-items:center;
                    font-size:1.5rem;
                    span {
                        border:0.1rem solid #d0d0d0;
                        width:2rem; height:2rem;
                        margin-right:2rem;
                        position: relative;
                        overflow:hidden;
                        &::after {
                            content:'';
                            position:absolute;
                            width:0.8rem; height:1.2rem;
                            border-right:0.2rem solid red;
                            border-bottom:0.2rem solid red;
                            transform:rotate(45deg);
                            display:none;
                            top:-0.1rem; right:25%;
                        }
                    }
                    input {
                        display:none;
                        &:checked + span {
                            &::after {
                                display:block;
                            }
                        }
                    }
                }
            }
        }

        // 사전 신청 완료 페이지
        &.submitted {
            color:#fff;
            max-width:100rem;
            height:56rem;
            margin:0 auto;
            &::after {
                content:'';
                position: relative;
                top:-57rem; left:-36rem;
                display: block;
                width:96.5rem; height:35.3rem;
                background-image:url('../img/common/bg_pc_done.png');
                background-repeat:no-repeat;
                background-size:cover;
            }
            div {
                max-width:30.4rem;
                width:100%;
                margin:21.5rem 0 21.5rem auto;
                h3 {
                    font-size:3rem;
                    text-align:center;
                    white-space:pre-line;
                    margin-bottom:5.5rem;
                    line-height:4rem;
                }       
                a {
                    display: block;
                    width:100%; height:4.8rem;
                    text-align:center; line-height:4.8rem;
                    background-color:#0062ff;
                    color:#fff;
                    font-weight:bold;
                    font-size:1.8rem;
                    margin-bottom:1.7rem;
                }
            }
        }

        // 사전 신청 조회 페이지
        &.application_inquiry {
            color:#fff;
            max-width:100rem;
            height:64rem;
            margin:0 auto;
            &::after {
                content:'';
                position: relative;
                top:-50rem; left:-45.5rem;
                display: block;
                width:96.5rem; height:35.3rem;
                background-image:url('../img/common/bg_pc_done.png');
                background-repeat:no-repeat;
                background-size:cover;
            }
            >div {
                max-width:37rem;
                width:100%;
                margin:11.5rem 0 11.5rem auto;
                h3 {
                    font-size:2.5rem;
                    padding-bottom:1.6rem;
                    margin-bottom:3.2rem;
                    border-bottom:0.2rem solid #fff;
                }
                ul {
                    li {
                        font-size:2rem;
                        display:flex; justify-content:space-between; align-items:center;
                        margin-bottom:2.3rem;
                        position: relative;
                        h4 {
                            font-weight:normal;
                            width:6.7rem;
                        }
                        input {
                            width:30.3rem; height:4.8rem;
                            border-radius:0.7rem;
                            padding:0 1.5rem;
                            box-sizing:border-box;
                        }
                        >div {
                            span {
                                position:absolute; top:50%; transform:translateY(-50%);
                                color:#000;
                                right:1.5rem;
                                font-size:1.5rem;
                            }
                        }
                        button {
                            margin-top:2rem;
                            margin-bottom:0;
                            width:37.1rem; height:4.8rem;
                            background-color:#0062ff;
                            color:#fff;
                            font-size:2rem; font-weight:bold;
                        }
                    }
                }
            }
            a {
                width:100%;
                max-width:37.1rem; height:4.8rem;
                text-align:center; line-height:4.8rem;
                font-size:2rem;
                font-weight:bold;
                color:#fff;
                background-color:#0062ff;
                display:block; margin:0 auto;
            }
        }

        // 사전 신청 리스트 조회 페이지
        &.application_list_inquiry {
            color:#fff;
            max-width:37rem;
            width:100%;
            margin: 23rem auto 11rem;
            h3 {
                font-size:2.5rem;
                margin-bottom:3.7rem;
                &::after {
                    content:'';
                    display: block;
                    width:100%; height:0.2rem;
                    background-color:#fff;
                    margin-top:1.5rem;
                }
            }
            label {
                display:flex; justify-content:space-between; align-items:center;
                font-size:2rem; margin-bottom:23rem;
                input {
                    width:27.3rem; height:4.8rem;
                    border-radius:0.6rem;
                    padding:0 1.5rem;
                    box-sizing:border-box;
                }
            }
            button {
                width:100%; height:4.8rem;
                background-color:#0062ff;
                color:#fff; font-weight:bold; font-size:2rem;
            }
        }

        // 사전 신청 리스트 페이지
        &.application_list {
            max-width:100rem;
            margin: 0 auto;
            padding:13rem 0;
            >div {
                height:84rem;
                padding:4.5rem 6rem;
                background-color:#fff;
                border-radius:3rem;
                text-align:center;
                overflow:hidden;
                .top_search_bar {
                    display:flex; justify-content: center;
                    select {
                        font-size:1.5rem;
                        width:17rem; height:5rem;
                        border:0.2rem solid #e9e9e9;
                        border-radius:0.7rem;
                        background-image:url('../img/common/ico_arrow_down.png');
                        background-repeat:no-repeat;
                        background-position:12.5rem;
                        -webkit-appearance:none; /* for chrome */
                        -moz-appearance:none; /*for firefox*/
                        appearance:none;
                        padding:0 2.5rem;
                        box-sizing:border-box;
                        margin:0 0.75rem;
                    }
                    >div {
                        position: relative;
                        >input {
                            font-size:1.5rem;
                            width:30rem; height:5rem;
                            border:0.2rem solid #e9e9e9;
                            border-radius:0.7rem;
                            padding:0 1.5rem; box-sizing:border-box;
                            margin:0 0.75rem;
                        }
                        button {
                            width:2.9rem; height:2.9rem;
                            background-color:transparent;
                            background-image:url('../img/common/ico_search.png');
                            background-repeat:no-repeat;
                            background-size:cover;
                            cursor: pointer;
                            position:absolute; top:50%; right:2rem;
                            transform:translateY(-50%);
                            &:active {
                                transform:translateY(-50%) scale(0.95);
                            }
                        }
                    }
                }
                .pc_list {
                    width:100%;
                    margin:4rem auto 3rem;
                    tr {
                        th,td {
                            text-align:center;
                        }
                    }
                    thead {
                        border-top:0.2rem solid #0062ff;
                        border-bottom:0.2rem solid #0062ff;
                        tr {
                            th {
                                font-size:1.5rem;
                                font-weight:lighter;
                                padding:2rem 0;
                            }
                        }
                    }
                    tbody {
                        tr {
                            border-bottom:0.1rem solid #eaeaea;
                            td {
                                font-size:1.5rem;
                                font-weight:normal;
                                padding:2rem 0;
                                label {
                                    display:flex; align-items:center;
                                    font-size:1.5rem;
                                    width:2.3rem;
                                    margin:0 auto;
                                    span {
                                        border:0.1rem solid #d0d0d0;
                                        width:2rem; height:2rem;
                                        position: relative;
                                        // overflow:hidden;
                                        display: block;
                                        &::after {
                                            content:'';
                                            position:absolute;
                                            width:0.8rem; height:1.2rem;
                                            border-right:0.2rem solid red;
                                            border-bottom:0.2rem solid red;
                                            transform:rotate(45deg);
                                            display:none;
                                            top:-0.1rem; right:25%;
                                        }
                                    }
                                    input {
                                        display:none;
                                        &:checked + span {
                                            &::after {
                                                display:block;
                                            }
                                        }
                                    }
                                }

                                button {
                                    width:5.6rem; height:3rem;
                                    background-color:#0062ff;
                                    color:#fff;
                                    font-size:1.5rem;
                                }
                            }
                        }
                    }
                }
                .mobile_list {
                    display:none;
                    >div {
                        display:flex;
                        width:100%;
                        position: relative;
                        &::after {
                            content:''; display:block;
                            width:100vw; height:0.1rem;
                            background-color:#0062ff;
                            position:absolute;
                            bottom:0; left:50%; transform:translate(-50%);
                        }
                        button {
                            padding:2rem 0;
                            width:33.333%;
                            font-size:1.3rem;
                            background-color:transparent;
                            &.on {
                                color:#0062ff;
                            }
                        }
                    }
                    ul {
                        margin-top:2rem;
                        li {
                            &.on {
                                border:0.1rem solid #0062ff;
                                button {color:#0062ff;}
                            }
                            border:0.1rem solid #d0d0d0;
                            width:100%;
                            border-radius:1rem;
                            display: flex; flex-wrap:wrap;
                            justify-content:space-between;
                            padding:1rem 1.8rem;
                            box-sizing:border-box;
                            margin-bottom:2rem;
                            div {
                                display:flex;
                                width:49%;
                                margin:0.75rem 0;
                                h4, p {
                                    font-size:1rem; font-weight: normal;
                                    text-align:start;
                                }
                                h4 {width:5.5rem;}
                            }
                            button {
                                margin:0 0 0 auto;
                                margin-left:31.8%;
                                text-align:end;
                                color:#000;
                                font-weight:bold;
                                font-size:1rem;
                                background:transparent;
                            }
                        }
                    }
                }
                .pagination {
                    display: flex; justify-content:center; align-items:center;
                    &.mobile {display:none;}
                    >a {
                        font-size:2rem;
                        color:#0062ff;
                        margin:0 1rem;
                        transform:translateY(0.1rem);
                    }
                    ul {
                        display: flex; align-items:center;
                        li {
                            margin:0 1rem;
                            &.on {
                                a {
                                    color:#0062ff;
                                }
                            }
                            a {
                                font-size:1.5rem;
                            }
                        }
                    }
                }
            }
        }

    }

    // 팝업
    .pop_card {
        display:none;
        &.on {
            display:block;
        }
        position:relative;
        top:0; left:0;
        .pop_bg {
            display: block;
            width:100vw; height:100vh;
            position:fixed; top:0; left:0;
            z-index:1;
            background-color:rgba(0,0,0,0.7);
        }
        >div {
            display:flex; flex-direction:column; justify-content:space-between;
            z-index:2;
            position:fixed;
            top:50%; left:50%;
            transform:translate(-50%, -50%);
            padding:1rem;
            width:44.2rem; height:23.5rem;
            box-sizing:border-box;
            border-radius:1.5rem;
            background-color:#fff;
            h4 {
                font-size:2rem; text-align:center;
                width:fit-content;
                margin:auto;
                line-height:2.5rem;
            }
            button,a {
                background-color:#0062ff;
                width:100%; height:5.4rem;
                color:#fff;
                font-size:2rem;
                font-weight:bold;
                border-radius:1.5rem;
            }
            a {
                line-height:5.4rem;
                text-align:center;
                cursor:auto;
            }
            >div {
                display:flex; justify-content:space-between;
                button,a {
                    width:20.8rem;
                    &:first-child {
                        background-color:#fff;
                        border:0.1rem solid #0062ff;
                        color:#0062ff;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1240px) {
    #container {
        .inner {
            // 사전 신청 페이지
            &.application {
                padding:0 11rem;
                box-sizing:border-box;
                max-width:100%;
                button {
                    &.exit_btn {
                        left:3rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    #container {
        .top_banner {
            padding:4rem 0;
            h2 {
                font-size:2.5rem;
            }
        }

        .inner {
            padding:0 2.5rem;
            box-sizing:border-box;
            // 메인페이지
            &.main {
                .logo_wrap {
                    margin:2.5rem 0 12rem 0;
                }
                .title {
                    margin:1.5rem 0 0 0;
                    width:47.5rem;
                    &::after {
                        right:-35rem;
                    }
                }
                ul {
                    margin:0 4rem 6rem 4rem;
                    li {width:100%;}
                }
            }

            // 사전 신청 페이지
            &.application {
                padding:0 2.5rem;
                button {
                    &.exit_btn {
                        border-top:0.1rem solid #fff;
                        border-left:0.1rem solid #fff;
                        top:-14rem;
                        width:4rem; height:4rem;
                    }
                }
                >div {
                    padding:7.5rem 10rem;
                }
            }

            // 사전 신청 완료 페이지
            &.submitted {
                height:38rem;
                &::after {
                    background-image:url('../img/common/bg_mobile_done.png');
                    transform:translateX(-26.5%);
                    width:96.7rem; height:41.3rem;
                    top:-80.3rem; left:50%;
                }
                div {
                    margin:42rem auto 3.5rem;
                }
            }
            
            // 사전 신청 조회 페이지
            &.application_inquiry {
                height:46.5rem;
                &::after {
                    background-image:url('../img/common/bg_mobile_done.png');
                    transform:translateX(-26.5%);
                    width:96.7rem; height:41.3rem;
                    top:-88rem; left:50%;
                }
                >div {
                    margin:46.3rem auto 2rem;
                    
                    h3 {
                        padding-bottom:2.3rem;
                        margin-bottom:3.5rem;
                    }
                    ul {
                        li {
                            margin-bottom:2.5rem;
                            input {
                                width:23.1rem; height:3.3rem;
                                padding:0 1rem;
                            }
                            button {
                                margin-top:3.5rem;
                            }
                        }
                    }
                }
            }

            // 사전 신청 리스트 조회 페이지
            &.application_list_inquiry {
                padding:0;
            }
            // 사전 신청 리스트 페이지
            &.application_list {
                padding:13rem 2.5rem;
            }
        }
    }
}
@media screen and (max-width:750px) {
    #footer {
        padding:2rem 0;
        ul {
            li {
                font-size:1rem;
                line-height:1.3rem;
            }
        }
    }

    #container {
        .top_banner {
            padding:2rem 0;
            h2 {
                font-size:1.6rem;
            }
        }
        .inner {
            // 메인페이지
            &.main {
                position: relative;
                .logo_wrap {
                    margin:0.2rem -1rem 0;
                    h1 {
                        &:last-child {margin-left:1.5rem;}
                        a {
                            display:block;
                            width:5.4rem; height:1.7rem;
                            img {
                                vertical-align:super;
                            }
                        }
                    }
                }
                .title {
                    margin:15rem -1rem 0 -1rem;
                    // margin:10rem 0 0 0;
                    width:0; height:12rem;
                    img {display:none;}
                    &::after {
                        width:74.9rem;
                        height:32rem;
                        background-image:url('../img/common/bg_mobile_done.png');
                        position:absolute;
                        top:-0.5rem; right:50%;
                        transform:translateX(74%);
                        
                        // width:48rem;
                        // height:28.5rem;
                        // top:-23.5rem; right:-10rem;
                    }
                }
                p {
                    white-space:pre-wrap;
                    margin:3.5rem 0 2.5rem 0;
                    border-top:0.1rem solid #3d3d3d;
                    border-bottom:0.1rem solid #3d3d3d;
                    font-size:1.58rem; line-height:2.5rem;
                    padding:2rem 0;
                    br {
                        &.pc {display:none;}
                        &.mobile {display:block;}
                    }
                }
                .btn_wrap {
                    flex-direction:column;
                    margin-bottom:2.5rem;
                    a {
                        width:100%; height:4.5rem;
                        margin:1rem 0;
                        font-size:1.6rem; line-height:4.5rem;
                    }
                }
                ul {
                    margin:0 auto 2rem;
                    width:29.5rem;
                    li {
                        font-size:1.1rem;
                        margin-bottom:2rem;
                        &:nth-child(1), &:nth-child(3) {
                            width:100%;
                        }
                        &::before {
                            width:0.3rem; height:1.6rem;
                            margin-right:1.5rem;
                            transform:translateY(0.4rem);
                        }
                        span {
                            font-size:1.1rem;
                            width:6.5rem;
                            margin:0;
                        }
                    }
                }
                table {
                    thead {
                        tr {
                            th {
                                font-size:1rem;
                                padding:1.2rem 0;
                                &:first-child {
                                    width:32%;
                                }
                                &:nth-child(2) {
                                    width:68%;
                                    text-align:center;
                                }
                                &:last-child {
                                    display:none;
                                }
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                font-size:1rem;
                                padding:1.5rem 0;
                                span {
                                    margin-left:1rem;
                                    font-size:1rem;
                                    &.detail {
                                        display:block;
                                        margin-left:0;
                                    }
                                }
                                &:first-child {
                                    width:32%;
                                }
                                &:nth-child(2) {
                                    font-size:1rem;
                                    padding-left:6rem;
                                }
                                &:last-child {
                                    display:none;
                                }
                            }
                        }
                    }
                }
            }
            // 사전 신청 페이지
            &.application {
                margin:3.5rem 0 4rem;
                button {
                    &.exit_btn {
                        width:1rem; height:1rem;
                        border-top:0.1rem solid #fff;
                        border-left:0.1rem solid #fff;
                        top:-6.8rem;
                        left:2.5rem;
                    }
                    &.submit_btn {
                        max-width:32rem;
                        width:100%; height:4.5rem;
                        font-size:1.6rem;
                    }
                }
                >div {
                    padding:4.5rem 2.5rem;
                    margin-bottom:4rem;
                    h3 {
                        font-size:1.6rem;
                    }
                    p {
                        font-size:1rem;
                        margin-bottom:3rem;
                        &.policy {
                            margin-top:5rem;
                            padding:1rem 0;
                            line-height:1.5rem;
                        }
                    }
                    ul {
                        padding-top:2rem;
                        margin-bottom:5rem;
                        &::after {
                            bottom:-9.5rem;
                        }
                        li {
                            font-size:1.3rem;
                            h4 {width:8rem;}
                            input {
                                width:80%; height:3.3rem;
                                border-radius:0.5rem;
                            }
                            >div {
                                span {font-size:1rem;}
                            }
                        }
                    }
                    label {
                        font-size:1rem;
                        span {
                            width:1rem; height:1rem;
                            &::after {
                                width:0.3rem; height:0.7rem;
                            }
                        }
                    }
                }
            }
            // 사전 신청 완료 페이지
            &.submitted {
                &::after {
                    width:74.9rem; height:32rem;
                    top:-69.7rem; left:50%;
                }
                div {
                    margin:32rem auto 3.5rem;
                    h3 {
                        font-size:2.3rem;
                        margin-bottom:5rem;
                    }
                    a {
                        font-size:1.6rem;
                    }
                }
            }
            // 사전 신청 조회 페이지
            &.application_inquiry {
                &::after {
                    width:74.9rem; height:32rem;
                    top:-78.1rem; left:50%;
                    transform:translateX(-23%);
                }
                >div {
                    max-width:32rem;
                    margin:37.3rem auto 2rem;
                    h3 {
                        font-size:1.6rem;
                    }
                    ul {
                        padding:0 2rem;
                        li {
                            h4 {
                                font-size:1.3rem;
                            }
                            button {
                                margin:3.5rem -2rem 0;
                                font-size:1.6rem;
                            }
                            div {
                                span {font-size:1rem;}
                            }
                        }
                    }
                }
                a {
                    font-size:1.6rem;
                    max-width:32rem;
                }
            }
            // 사전 신청 리스트 조회 페이지
            &.application_list_inquiry {
                padding:0 2.5rem;
                margin:0 auto 4rem;
                &::before {
                    content:'';
                    position: relative;
                    display: block;
                    width:74.9rem; height:32rem;
                    top:-0.1rem; left:50%;
                    transform:translateX(-23%);
                    background-image:url('../img/common/bg_mobile_done.png');
                    background-repeat:no-repeat;
                    background-size:cover;
                }
                h3 {
                    margin:5rem 0 3.5rem;
                    font-size:1.6rem;
                    &::after {
                        margin-top:2rem;
                    }
                }
                label {
                    font-size:1.3rem;
                    margin-bottom:13rem;
                    input {
                        width:22rem;
                        height:3.4rem;
                    }
                }
                button {
                    font-size:1.6rem;
                }
            }
            // 사전 신청 리스트 페이지
            &.application_list {
                padding:3.5rem 2.5rem 3rem;
                >div {
                    padding:3rem 1.6rem;
                    width:100%; height:71rem;
                    box-sizing:border-box;
                    position:relative;
                    .top_search_bar {
                        select {
                            display:none;
                        }
                        >div {
                            width:100%;
                            >input {
                                width:100%; height:3.4rem;
                                font-size:1rem;
                                margin:0;
                                padding:0 1rem;
                            }
                            button {
                                right:1rem;
                                width:1.8rem; height:1.8rem;
                            }
                        }
                    }
                    .pc_list {display:none;}
                    .mobile_list {display: block;}
                    .pagination {
                        &.pc {display:none;}
                        &.mobile {display: flex;}
                        position:absolute;
                        bottom:2rem;
                        left:50%; transform:translate(-50%);
                        >a {
                            margin:0 2.3rem;
                            transform: translateY(0.3rem);
                        }
                        ul {
                            li {
                                margin:0 1.5rem;
                                a {
                                    font-size:1.1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        // 팝업
        .pop_card {
            &.on {
            }
            .pop_bg {
            }
            >div {
                width:25.5rem; height:16.5rem;
                border-radius:1rem;
                h4 {
                    font-size:1.3rem;
                    width:20rem;
                }
                button, a {
                    font-size:1.3rem;
                    height:4rem;
                    border-radius:0.5rem;
                }
                >div {
                    button, a {
                        font-size:1.3rem;
                        height:4rem;
                        width:48.5%;
                    }
                    a {line-height:4rem;}
                }
            }
        }
    }
}
@media screen and (max-width:375px) {}