* {margin:0; padding:0;}
html {
    // 드래그나 더블 클릭을 사용한 텍스트 선택을 제어하는 명령어
    -webkit-user-select:none;
    // 모바일에서 링크를 길게 누르면 나오는 메뉴 제어하는 명령어
    // -webkit-touch-callout:none;

    // rem 단위 조절
    font-size:62.5%;
}
body {
    background-color:#000;
    font: normal 1.8rem/1.44 'Noto Sans KR', sans-serif;
}
ul,ol,li {list-style-type:none;}
a {text-decoration:none; color:#000;}
img,video {vertical-align:middle;}
input, select, textarea {outline:0; border:none;}
textarea {resize:none;}
table {border-collapse: collapse;}
body {line-height:1;}
button {border:none;}
input {outline:0}
.button {
    cursor: pointer;
    &:active {transform:scale(0.95);}
}

// 아이콘 관련 링크
// @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

// 폰트 관련 링크
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');